.footer-subscription{
    margin-left: 615px;
    padding-bottom: 90px;
      width: 1200px;
      margin-top: -194px;
  }

  
.input-footer{
    font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  }

  .airplane{
    width: 24px;
    height: 24px;
   
  }
  
  .subscription{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1,875;
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-left: 29px;
    display: flex;
  color: #FFFFFF;
  padding-top:10px;
  padding-bottom:13px;
  max-height: 50px;
  
  }

  .btn-subscripton{
    border-radius: 5px;
  min-width: 200px;
  height: 50px;
  
  
    background-color: #2196F3;
  }