.section-item {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  
.heading-clients {
    padding-top: 94px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: #212121;
    text-align: center;
  }


  .clients {
    display: flex;
    display: flex;
    margin-top: 50px;
    margin-bottom: 94px;
  
  }
  